#menu, #menu2 {float: left; display: inline; position:relative; z-index:200; }
#menu li, #menu2 li {float: left; display: inline; font-size: 11px; font-weight: bold; text-transform: uppercase; margin-right: 25px; }
#menu li li, #menu2 li li {margin-right: 0;}
#menu2 {z-index: 100;}
#menu2 li {text-transform: none;}

.downarrowclass {	background:url(../images/down.png) no-repeat center; padding:6px 11px;}
.rightarrowclass {background:url(../images/right.png) no-repeat center right;	padding:10px;	position:absolute;	right:10px;	}

/*Top level list items*/
.dropdown ul li{position: relative; display: inline; margin-right: 0;}
/*Top level menu link items style*/
.dropdown ul li a{text-decoration: none; line-height:18px; }

* html .dropdown ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}
 
.dropdown ul li.current_page_item a, .dropdown ul li.current-cat a {color:#CD3939; text-shadow: 0 1px 0 #000; }
 
/*1st sub level menu*/
.dropdown ul li ul {position: absolute; left: 0; display: block; visibility: hidden; z-index:100; background:#333; text-align:left;}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.dropdown ul li ul li ul{top: 0;}
/* Sub level menu links style */
.dropdown ul li ul li a {width: 140px; padding: 5px 10px; margin: 0; border-top-width: 0; border-bottom: 1px solid #4a4747; color:#fff; text-shadow:0 2px 0 #000; text-transform:none; display:block; }
.dropdown ul li ul li:last-child a, .dropdown ul li ul li:last-child a:hover {border:none;}
.dropdown ul li ul li a:hover { color:#000; }